@font-face {
  font-family: "Pretendard";
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body{
    max-width: 100%;
    flex-direction: row;
    align-items: flex-start;
    padding: 48px;
    border: 2px solid black;
    background-color: rgb(253, 251, 245);
}

@media (max-width: 768px) {
  body {
    padding: 0 12px;
  }
}

.top-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    /* text/meta */
    color: rgb(25, 25, 25);
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.5px;
    text-align: left;
}

.nav-logo {
  width: 50px;
  height: 50px;
}

/* @media (max-width: 768px) {
  .top-nav {
    padding: 24px;
  }

  .nav-logo {
    width: 60px;
    height: 40px;
  }
} */

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-items li {
  color: .666;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

button {
  border-radius: 6px;
  height: 30px;
  width: 100px;
  background: rgb(25, 25, 25);
  color: white;
}

.footer {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  flex-wrap: wrap;
}
.footer h2 {
  font-family: Pretendard;
}
.footer li{
  font-family: Roboto Mono;
}

.column1 {
  width: 0.4vw;
  order: 0;
  flex-grow: 1;
  margin: 0px 48px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 32px;
}

.column2 {
  width: 0.2vh;
  order: 0;
  flex-grow: 1;
  margin: 0px 48px;
  border-left: 1px solid black;
  padding-left: 30px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 32px;
}

.column3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 32px;
  width: 0.2vh;
  order: 0;
  flex-grow: 1;
  margin: 0px 48px;
  list-style-type: none;
}

.section-hero {
  width: 100%;
  height: 300px;
  padding: 48px 0px 48px 0px;
  border-bottom: 1px solid black;
}

#work {
  height: 280px;
  color: rgb(25, 25, 25);
  font-family: Roboto Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.5px;
  text-align: left;
  margin: 0px 16px;
}

.main-text {
  color: rgb(25, 25, 25);
  font-family: Pretendard;
  font-size: 99px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 768px) {
  .main-text {
    color: rgb(25, 25, 25);
    font-family: Pretendard;
    font-size: 75px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
  }
}

@media (max-width: 375px) {
  .main-text {
    color: rgb(25, 25, 25);
    font-family: Pretendard;
    font-size: 50px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
  }
}

#card {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  margin: -1px 0px;
  border-bottom: 1px solid black;
}

.border {
  height: 1px;
  margin: 50px 0px;
  background: rgb(25, 25, 25);
}

.card-content {
  width: 25%;
  height: 580px;
  padding: 0px;
  margin: 0px 48px;
  font-family: Pretendard;
}

.card-text {
  height: 140px;
  padding: 0px;
  margin: 32px 0px;

  color: rgb(25, 25, 25);
  font-family: Pretendard;
  font-size: 55px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}

.card-list {
  width: 100%;
  height: 109px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0px;
}

.card-list-one {
  width: 100%;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 22px 0px;

  /* text/meta */
  color: rgb(25, 25, 25);
  font-family: Roboto Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.5px;
  text-align: left;
}

@media (max-width: 768px) {
  .card-list-one {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
  
    /* text/meta */
    color: rgb(25, 25, 25);
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.5px;
    text-align: left;
  }
}

.card-image {
  width: 70%;
  height: 57vh;
  left: -33px;
  right: -12px;
  top: -48px;
  bottom: -32.25px;
  border-radius: 25px;
  margin-top: 40px;
  
  background: url(./img/Image.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-image2 {
  width: 70%;
  height: 57vh;
  left: -33px;
  right: -12px;
  top: -48px;
  bottom: -32.25px;
  border-radius: 25px;
  margin-top: 40px;

  background: url(./img/Image2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-image3 {
  width: 70%;
  height: 57vh;
  left: -33px;
  right: -12px;
  top: -48px;
  bottom: -32.25px;
  border-radius: 25px;
  margin-top: 40px;

  background: url(./img/Image3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-image4 {
  width: 70%;
  height: 57vh;
  left: -33px;
  right: -12px;
  top: -48px;
  bottom: -32.25px;
  border-radius: 25px;
  margin-top: 40px;

  background: url(./img/Image4.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-image5 {
  width: 70%;
  height: 57vh;
  left: -33px;
  right: -12px;
  top: -48px;
  bottom: -32.25px;
  border-radius: 25px;
  margin-top: 40px;

  background: url(./img/Image5.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 768px) {
  .card{
    flex-direction: column-reverse;
  }
  .card-image{
    width: 95%;
    margin-left: 15px;
  }
  .card-image2{
    width: 95%;
    margin-left: 15px;
  }
  .card-image3{
    width: 95%;
    margin-left: 15px;
  }
  .card-image4{
    width: 95%;
    margin-left: 15px;
  }
  .card-image5{
    width: 95%;
    margin-left: 15px;
  }
}

.news-letter {
  border-bottom: 1px solid black;
  height: 479px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 65px 0px;
}

@media (max-width: 768px) {
  .news-letter {
    flex-wrap: wrap;
  }
}
.news-text {
  color: rgb(25, 25, 25);
  font-family: Roboto Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.5px;
  text-align: left;
}



.news {
  color: rgb(25, 25, 25);
  font-family: Pretendard;
  font-size: 80px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
@media (max-width: 768px) {
  .news{
    color: rgb(25, 25, 25);
    font-family: Roboto Mono;
    font-size: 50px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.5px;
    text-align: left;
  }
}
.news-text2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: rgb(25, 25, 25);
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

.news-text2 div {
  display: flex;
  justify-content: space-between;
}
.news-text2 span {
  color: rgb(25, 25, 25);
  font-family: Pretendard;
  font-size: 26px;

  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
} 

.news-text3 {
  border-bottom: 1px solid black;
}


.news-text2-mobile {
  display: none;
}

@media (max-width: 768px) {
  .news-text3{
    flex-wrap: wrap-reverse;
  }
}
@media (max-width: 768px) {
  .news-text2{
    display: none;
  }
  .news-text2-mobile{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    color: rgb(25, 25, 25);
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
  }

  .news-text3 {
    border-bottom: 0px solid black;
  }

  .underline{
    text-decoration: underline;
  }
  
}